{% extends "base.html" %}
    {% block head %}
    {% endblock %}
    {% block content %}
        <h2>List students</h2>
        <p></p>
        <ul>
            {% for student in students %}
                <li>
                    Student id: {{ student.id|safe }}. {{ student.first_name|safe }} {{ student.last_name|safe }},
                    {{ student.age|safe }} years old
                    <a href="{% url 'edit-student-form' student.id %}">Edit</a>
                    <a href="{% url 'delete-student' student.id %}">Delete</a>
                </li>
            {% endfor %}
        </ul>
    {% endblock %}
    {% block footer %}
            <p>Use "127.0.0.1:8000/list_students/?" addresses with: "id=int", "first_name=str", "last_name=str",
                "age=int" parameters, to list filtered students from database by parameter.</p>
            <p>Use & to combine 2 or more filtering parameters.</p>
    {% endblock %}