{% extends "base.html" %}
    {% block title %}
        List students
    {% endblock %}
    {% block content %}
        <h2 class="container alert" align="center">List students</h2>
        <div class="container">
            <table class="table table-bordered table-striped">
                <thead class="">
                    <tr class="active">
                        <th scope="col">id</th>
                        <th scope="col">First name</th>
                        <th scope="col">Last name</th>
                        <th scope="col">Age</th>
                        <th scope="col">Phone number</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for student in students %}
                    <tr>
                        <td>{{ student.id|safe  }}</td>
                        <td>{{ student.first_name|safe }}</td>
                        <td>{{ student.last_name|safe }}</td>
                        <td>{{ student.age|safe }}</td>
                        <td>{{ student.phone|safe }}</td>
                        <td>
                            <ul>
                                <li><a href="{% url 'edit-student-form' student.id %}">Edit</a></li>
                                <li><a href="{% url 'delete-student' student.id %}">Delete</a></li>
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <br>
        <p class="container">Use "127.0.0.1:8000/list_students/?" addresses with: "id=int", "first_name=str", "last_name=str",
            "age=int" parameters, to list filtered students from database by parameter.</p>
        <p class="container">Use & to combine 2 or more filtering parameters.</p>
    {% endblock %}
    {% block footer %}
    {% endblock %}
