{% extends "base.html" %}
    {% block title %}
        List groups
    {% endblock %}
    {% block content %}
        <h2 class="container alert" align="center" >List groups</h2>
        <div class="container">
        <table class="table table-bordered">
            <thead>
                <tr class="active">
                    <th scope="col">id</th>
                    <th scope="col">Group name</th>
                    <th scope="col">Discipline</th>
                    <th scope="col">Curator</th>
                    <th scope="col">Headman</th>
                    <th scope="col">Students in group</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for group in groups %}
                <tr>
                    <td>{{ group.id|safe  }}</td>
                    <td>{{ group.group_name|safe }}</td>
                    <td>{{ group.discipline|safe }}</td>
                    <td>{{ group.curator|safe }}</td>
                    <td>{{ group.headman|safe }}</td>
                    <td>
                        <ul>
                            {% for student in group.students.all %}
                                <li>{{ student.first_name }} {{ student.last_name }}</li>
                            {% endfor %}
                        </ul>
                    </td>
                    <td>
                        <ul>
                            <li><a href="{% url 'edit-group-form' group.id %}">Edit</a></li>
                            <li><a href="{% url 'delete-group' group.id %}">Delete</a></li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        </div>
    {% endblock %}
