{% extends 'base.html' %}

{% block title %}Enter new password{% endblock %}
{% block page_title %}Password Reset Confirm{% endblock %}

{% block content %}
{% load crispy_forms_tags %}

<!--Password Reset Confirm-->
<hr>
<form class="container" method="post">
    <p class="container" align="center">Please enter your new password.</p>
    <br>
    {% csrf_token %}
    <table class="table table-striped">
        {{ form.as_table }}
    </table>
    <button class="btn btn-primary" type="submit">Reset password</button>
</form>
{% endblock %}