{% load static %}
<html lang="en">
    <head>
        {% block head %}
            <title>Hillel Django Project</title>
            <!-- Required meta tags -->
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <!-- Bootstrap CSS -->
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
            <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        {% endblock %}
    </head>
    <body>
        <h1 align="center"><a href="/">Django Project by Michail Frolov</a></h1>
        <hr align="center" width="90%" size="5" color="#dddddd" />
        {% block content %}
        {% endblock %}
        {% block footer %}
        {% endblock %}
    </body>
</html>