{% extends "base.html" %}
    {% block title %}
        List teachers
    {% endblock %}
    {% block content %}
        <h2 class="container alert" align="center">List teachers</h2>
        <div class="container">
            <table class="table table-bordered table-striped">
                <thead class="">
                    <tr class="active">
                        <th scope="col">id</th>
                        <th scope="col">First name</th>
                        <th scope="col">Last name</th>
                        <th scope="col">Age</th>
                        <th scope="col">Phone number</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for teacher in teachers %}
                    <tr>
                        <td>{{ teacher.id|safe  }}</td>
                        <td>{{ teacher.first_name|safe }}</td>
                        <td>{{ teacher.last_name|safe }}</td>
                        <td>{{ teacher.age|safe }}</td>
                        <td>{{ teacher.phone|safe }}</td>
                        <td>
                            <ul>
                                <li><a href="{% url 'edit-teacher-form' teacher.id %}">Edit</a></li>
                                <li><a href="{% url 'delete-teacher' teacher.id %}">Delete</a></li>
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <br>
        <p class="container">Use "127.0.0.1:8000/list_teacher/?" addresses with: "id=int", "first_name=str", "last_name=str",
            "age=int" parameters, to list filtered teachers from database by parameter.</p>
        <p class="container">Use & to combine 2 or more filtering parameters.</p>
    {% endblock %}
    {% block footer %}
    {% endblock %}
